* {
    margin: 0px;
    padding: 0px;
}
h1, h3, h6 {
    font-family: sans-serif;
    margin: 10px;
}
br{
    line-height: 0px;
}
text {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.deathsLine{
    fill:none;
    stroke: rgb(252, 68, 68);
    stroke-width: 3px;
}
.aidsdxLine{
    fill:none;
    stroke: rgb(240, 210, 111);
    stroke-width: 3px;
}
.hivdxLine {
    fill:none;
    stroke: #33a02c; 
    stroke-width: 3px;
}
.grid line{
    stroke: lightgrey;
    opacity: 0.7;
}
svg {
    margin: auto;
    float: left;
}

.tooltip text{
    font-family: sans-serif;
    font-size: 10px;
}
.logo{
    max-width: 25%;
    height: auto;
    margin: 0px;
}
.sidebar{
    border: 1px;
    border-color: lightgrey;
    border-style: solid;
    float: right;
    margin: 10px;
    margin-right: 80px;
    padding: 10px;
}
select{
    margin-left: 10px;
}
#chartsvg{
    margin-left: 40px;
}
div.sidebar h3,h6{
    margin-bottom: 10px;
    margin-top: 10px;
}
.boxBigText{ 
    fill: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.chartTitle{
    font-size: 20px;
}
