* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, a, text{
    font-family: sans-serif;
    font-weight: bold;
    margin: 0px;
    color: white;
}
.shadow:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
option {
    font-family: sans-serif;
    font-weight: normal;
}
.lineChart{
    fill:none;
    stroke: rgb(252,181,26);
    stroke-width: 3px;
}
div.box {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;	
}   
#zone1{
    padding-top: 0px;
}
.border{
    margin: 10px;
    background-color: rgb(235,119,38);
}
div {
    padding: 15px;
}
.sidebar {
    float: right;
    margin: 10px;
}
nav {
    margin: 10px;
    margin-top: 0px;
    padding: 0px;
    background-color: rgb(235,119,38);
    height: 9%;
    position: relative;
}
nav ul {
    list-style-type: none;
    margin: 0px;
}
nav li {
    display: inline-block;
    margin: 0px;
    margin-top: 0px;
}
nav a{
    padding: 10px;
    display: block;
}
nav a:hover{
    background-color: rgb(252,181,26);
}
h2.title{
    padding: 10px;
    padding-bottom: 7px;
    margin-top: 0px;
}
.headNav{
    margin: 0;
}
.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: auto;
}
.grid path {
    stroke-width: 0;
}
.center{
    text-align: center;
}
.sidebarSpace{
    margin-bottom: 5px;
}
.dot {
    fill: royalblue;
}
.tooltip{
    font-size: 10px;
}